# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
scripts/__pycache__/

# ======================
# Virtual Environment
# ======================
.venv/
venv/
env/

# ======================
# dbt
# ======================
target/
dbt_packages/
logs/
profiles.yml
.user.yml
dbt_project.yml
package-lock.yml
packages.yml
# ======================
# Environment
# ======================
.env
.env.*

# ======================
# Data (IGNORE ALL)
# ======================
data/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Documents
# ======================
*.pdf

# ======================
# Power BI
# ======================
*.pbix.autosave

# ======================
# IDE
# ======================
.vscode/